* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan';
    font-size: 14px;
}

.wrapper {
    width: 350px;
    margin: 50px auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: hsl(300, 43%, 22%);

}

.text {
    padding: 20px 15px;
    text-align: center;
    font-weight: 400;
    color: hsl(303, 10%, 53%)
}

.rate_component {
    margin: 10px;
    padding: 15px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    text-align: center;
}

.stars {
    background-image: url(./images/icon-star.svg);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding: 15px 10px;
    display: inline-block;
}

h2 {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.comment_component {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.user {
    display: grid;
    grid-template-columns: [c1] 50px [c2] auto;
    grid-template-rows: [r1] 30px [r2] 30px;
}

.name {
    justify-self: start;
    align-self: end;
    padding: 2px 20px;
    grid-column: 2;
    grid-row: 1;
    color: hsl(0, 0%, 100%);
}

.verify {
    justify-self: start;
    align-self: start;
    padding: 2px 20px;
    grid-column: 2;
    grid-row: 2;
    color: hsl(318, 55%, 41%);
}

.img_one {
    background-image: url(./images/image-colton.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;

}

.img_two {
    background-image: url(./images/image-irene.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.img_three {

    background-image: url(./images/image-anne.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.comment {
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}

@media(min-width:1440px) {

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 1440px;
        margin: 350px auto;
    }

    .title {
        font-size: 60px;
        text-align: left;
        width: 620px;
    }

    .text {
        padding: 0;
        margin-top: 10px;
        text-align: left;
        font-size: 18px;
        width: 620px;
    }

    .rates {
        margin: 30px;
    }

    .rate_component {
        display: flex;
        padding: 15px 25px;
        align-content: center;
    }

    .rate_component:nth-child(1) {
        margin-left: 50px;
        margin-right: 150px
    }

    .rate_component:nth-child(2) {
        margin-left: 100px;
        margin-right: 100px;
    }

    .rate_component:nth-child(3) {
        margin-left: 150px;
        margin-right: 50px;
    }

    .stars {
        background-position: center;
        height: 24px;
        width: 24px;
        display: inline-block;
    }

    h2 {
        margin: 0 30px;
        line-height: 30px;
    }

    .comments {
        display: flex;
        justify-content: space-between;
        width: 1250px;
    }

    .comment_component {
        margin: 0;
        padding: 35px;
        width: 375px;
        height: 225px;
    }

    .comment_component:nth-child(1) {
        margin-top: 50px;
    }

    .comment_component:nth-child(2) {
        margin-top: 70px;
    }

    .comment_component:nth-child(3) {
        margin-top: 90px;
    }


}